
body{
  background: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
  padding: none;
}
div{
  margin: none;
  padding: none;
}
a{
  color: white;
}
.navlink{
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(212, 212, 212, 0.067);
  text-decoration: none;
}
.header{
  background-color: rgb(41, 41, 41);
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  list-style: none;
  margin-left: none;
  margin-right: none;
  padding-left: none;
  padding-right: none;
}
main {
  text-align: center;
  justify-content: center;
}
.gamesdesc {
  width: 50%;
  text-align: center;
  justify-content: center;
}

.maindiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

